@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Fonts
$lato: "Lato", sans-serif;

// Colors
$primary: #5c6bc0;
$secondary: #ec407a;
$light: #ffffff;
$light-alt: #fefefe;
$dark: #111017;
$dark-alt: #030207;
